<h3 class="text-center">Sign Up</h3>
<hr>
<form ng-submit="SignupCtrl.signup">
	<div class="form-group">
	  <input type="text" ng-model="SignupCtrl.new_user.firstName" class="form-control" placeholder="First Name">
	</div>
  <div class="form-group">
	  <input type="text" ng-model="SignupCtrl.new_user.lastName" class="form-control" placeholder="Last Name">
	</div>
  <div class="form-group">
    <input type="text" ng-model="SignupCtrl.new_user.email" class="form-control" placeholder="Email">
  </div>
	<div class="form-group">
    <input type="text" ng-model="SignupCtrl.new_user.username" class="form-control" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" ng-model="SignupCtrl.new_user.password" class="form-control" placeholder="Password">
  </div>
  <input type="submit" value="Sign Up" class="btn btn-block btn-info">
</form>
<br>
<p class="text-muted">Already have an account? <a ui-sref="login">Log in here.</a></p>

{{SignupCtrl.new_user}}

{{SignupCtrl}}
<button ui-sref="landing-page">Back to landing page</button>
<button onclick='SignupCtrl.test()'>test</button>
