
<div class="about-container row">

  <div class="about-image col s12 m6 l6 ">
      <img src="../img/headshot.jpg" alt="nidhi headshot" />
  </div>

  <div class="about-text col s12 m6 l6">

    <h3 class="flow-text"> </h3>

    <p>
      I'm Nidhi Reddy, a web developer and storyteller in the Bay Area. For more info about this project and a peek at my wireframes (including features that I hope to add in the future - like photos, comments, and likes!), <a href="https://github.com/nreddy216/gulliver-app" class="github" target="_blank">check out my github</a>!
    </p>

    <a id="view-projects" class="purple accent-2 waves-effect waves-light btn" href="http://nidhi-reddy.com">View my other projects</a>
    <ul class="about-icons">
			<li><a href="https://github.com/nreddy216/gulliver-app" class="github" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
      <li><a href="mailto:nidhi.sama.reddy@gmail.com" class="mail" target="_blank"><i class="fa fa-envelope-square" aria-hidden="true"></i></li>
      <li><a href="https://twitter.com/nerdyreddy" class="twitter" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
    </ul>

  </div>



</div>
