
<div class="about-container row">

  <div class="about-image col s12 m6 l6 ">
      <img src="https://southernfinds.files.wordpress.com/2012/11/city-map1.jpg" alt="" />
  </div>

  <div class="about-text col s12 m6 l6">
    <!-- offset-s6 offset-m6 offset-l6  -->

    <h3 class="flow-text"> </h3>

    <p class="">
      I created this project in my time at General Assembly.
    </p>


    <input type="button" value="Contact me" href="mailto:nidhi.sama.reddy@gmail.com" class="blue waves-effect waves-light btn" />
    <input type="button" value="View my other projects" href="http://nidhi-reddy.com" class="purple accent-2 waves-effect waves-light btn" />
  </div>

  <div class="map-overlay-div">
    <!-- <img id="map-overlay" src="../img/map-overlay-old-india.png" /> -->

  </div>

</div>
