

<div ng-show="main.currentUser()" >
	<br>
	<h3>Add Your Story</h3>
	<hr>
	<!-- Story Form here -->
    <h4>{{cc.storyTitle}}</h4>
		<leaflet lf-center="center"  width="100%" height="480px" markers="markers"></leaflet>

  <h5>{{cc.mapAttributes.center}}</h5>

	<div ng-hide="cc.displayPinForm===true">
		<h2>What's the name of your story?</h2>
		<!-- ADD STORY -->
		<form ng-submit="cc.createStory()">
			<div class="form-group">
			  <input type="text" ng-model="cc.new_story.title" class="form-control" placeholder="Story Title">
			</div>
		  <input type="submit" value="Publish" class="btn btn-block btn-info">
		</form>

	</div>

	<br />

	<!-- ADD PIN -->
	<div ng-show="cc.displayPinForm === true">
		<h3>Chapter {{cc.pinCounter + 1}}</h3>
		<form ng-submit="cc.submitLocationForm()">
			<div class="form-group">
				<input type="text" ng-model="cc.new_location.locationName" class="form-control" placeholder="Location name">
				<input type="text" ng-model="cc.new_location.textContent" class="form-control" placeholder="Your sentence here">
			</div>
			<input type="submit" value="Next Pin" class="btn btn-block btn-info">
		</form>
	</div>

  <div ng-show="cc.displayStoriesBtn === true">
    <input type="button" value="Finish Story" ui-sref="home"/>
  </div>

</div>

<br />
<br />
<br />
