
<!-- Only YOUR stories -->
<div ng-show="main.currentUser()">
	<br>
	<h3>Your stories</h3>
	<hr>
	<p ng-if="home.stories.length === 0"> No stories yet.</p>
	<div ng-if="home.stories.length > 0">
		<div ng-repeat="story in home.stories | orderBy: '-created_at'" class="your-story card-panel mdl-card">
			<!-- <figure class="mdl-card__media temp-image">
				<img class="temp-image" src="http://1.bp.blogspot.com/-glzIpdKUoKc/UPFyioQU_qI/AAAAAAAACDw/zPIwG5oV1-Y/s1600/Milford+Sound+thu%E1%BB%99c+C%C3%B4ng+vi%C3%AAn+Qu%E1%BB%91c+gia+Fiorland,+ph%C3%ADa+T%C3%A2y+Nam+New+Zealand.jpg" alt="" />
			</figure> -->
			<div class="mdl-card__title">
				<h6 class="mdl-card__title-text"><a ui-sref="show-story({id: story._id})"><strong>{{story.title}}</strong></a><i class="material-icons delete-btn delete-btn-home" ng-click="home.deleteStory(story)">delete_forever</i></h6>

			</div>
			<!-- <div class="supporting-text">
		    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam accusamus, consectetur.</p>

		  </div> -->

		</div>

	</div>

</div>
