

<div ng-show="main.currentUser()" ng-model="home.new_story.latitude">
	<br>
	<h3>Add Your Story</h3>
	<hr>
	<!-- Story Form here -->



	<div id = "locationSearch" >

		<!-- MAP -->
		<!-- <form>
			<div class="form-group">
				<input type="number" step="any" ng-model="home.new_story.centerLatitude" class="form-control" placeholder="Latitude" ng-value="home.center.lat">
				<input type="number" step="any" ng-model="home.new_story.centerLongitude" class="form-control" placeholder="Longitude" ng-value="home.center.lng">
				<input type="number" step="any"  ng-model="home.new_story.centerZoom" class="form-control" placeholder="Zoom" ng-value="home.center.zoom">
			</div>
		</form> -->
		<div id="map">

		</div>
		<h5>center coordinates</h5>
		<!-- <form>
			<div class="form-group">
				<input type="number" step="any" ng-model="home.center.testPin.lat" class="form-control" placeholder="Latitude">
				<input type="number" step="any" ng-model="home.center.testPin.lng" class="form-control" placeholder="Longitude">
				<input type="text" ng-model="home.center.testPin.message" class="form-control" placeholder="Message">
			</div>
		</form> -->
		<!-- lf-center="center"   -->
		<leaflet lf-center="center"  width="100%" height="480px" markers="markers"></leaflet>
	</div>

	<div ng-hide="home.displayPinForm===true">
		<h2>What's the name of your story?</h2>
		<!-- ADD STORY -->
		<form ng-submit="home.createStory()">
			<div class="form-group">
			  <input type="text" ng-model="home.new_story.title" class="form-control" placeholder="Story Title">
			</div>
		  <input type="submit" value="Publish" class="btn btn-block btn-info">
		</form>

	</div>

	<br />

	<!-- ADD PIN -->
	<div ng-show="home.displayPinForm === true">
		<h3>Chapter {{home.pinCounter + 1}}</h3>
		<form ng-submit="home.submitLocationForm()">
			<div class="form-group">
				<input type="text" ng-model="home.new_location.locationName" class="form-control" placeholder="Location name">
				<input type="text" ng-model="home.new_location.textContent" class="form-control" placeholder="Your sentence here">
			</div>
			<input type="submit" value="Publish" class="btn btn-block btn-info">
		</form>
	</div>



	<br>
	<h4>All of the Stories</h4>
	<hr>
	<p ng-if="home.stories[0].length === 0">No stories yet.</p>

	<div ng-if="home.stories[0].length > 0">
		<div ng-repeat="story in home.stories[0]">
			<p><strong>{{story.title}}</strong></p>
			<br />
			<!-- <leaflet lf-center="center" width="100%" height="480px" markers="markers"></leaflet> -->
			<br>
		</div>
	</div>

</div>
