
<div class="landing-container row">

  <div class="landing-image col s12 m6 l6 ">
      <img src="https://southernfinds.files.wordpress.com/2012/11/city-map1.jpg" alt="" />
  </div>

  <div class="landing-text col s12 m6 l6">
    <!-- offset-s6 offset-m6 offset-l6  -->

    <h3 class="flow-text">Create interactive stories using a map as the medium. </h3>

    <p class="">
      Geography is a large part of what forms our opinions, shifts our narratives, and fundamentally molds our personalities.
      Gulliver is an  storytelling application where users can tell stories based on locations. Each 'chapter' of their story is a point on a map.
    </p>


    <input type="button" value="Browse stories" ui-sref="discover" class="blue waves-effect waves-light btn" />
    <input type="button" value="Tell a story" ui-sref="create-story" class="purple accent-2 waves-effect waves-light btn" />
  </div>

  <div class="map-overlay-div">
    <!-- <img id="map-overlay" src="../img/map-overlay-old-india.png" /> -->

  </div>

</div>
