<div class="landing-image col-md-6">

</div>
<div class="landing-container">
  <img class="col-md-6" src="https://southernfinds.files.wordpress.com/2012/11/city-map1.jpg" alt="" />
  <div id="landing-text col-md-6 col-md-offset-6">

    <h3>Create interactive stories using a map as the medium. </h3>

    <p class="">
      Geography is a large part of what forms our opinions, shifts our narratives, and fundamentally molds our personalities.

      Gulliver is an  storytelling application where users can tell stories based on locations. Each 'chapter' of their story is a point on a map.

    </p>


    <input type="button" value="Browse stories" ui-sref="discover" class="btn btn-primary waves-effect" />
    <input type="button" value="Tell a story" ui-sref="create-story" class="btn btn-info waves-effect waves-light" />
  </div>

  <div class="map-overlay-div">
    <!-- <img id="map-overlay" src="../img/map-overlay-old-india.png" /> -->

  </div>

</div>
