<div id="landing-text">
  <h3>Create and share interactive stories using a map as the medium. </h3>

  <p>
    Some text here that makes it sound like a cool app. Some text here that makes it sound like a cool app.
    Some text here that makes it sound like a cool app.
    Some text here that makes it sound like a cool app.
    Some text here that makes it sound like a cool app.
    Some text here that makes it sound like a cool app.
    Some text here that makes it sound like a cool app.
  </p>
</div>
<div class="landing-container">
  <div class="map-overlay-div">
    <!-- <img id="map-overlay" src="../img/map-overlay-old-india.png" /> -->

  </div>

</div>

<input type="button" value="Browse stories" ui-sref="discover" class="btn btn-info waves-effect" />

<input type="button" value="Tell a story" ui-sref="create-story" class="btn btn-success waves-effect" />
