<!-- have to do story bc of the way object is structured  -->
<h3>{{ss.story.story.title}}</h3>
<h6>Created on {{ss.story.story.created_at | date: fullDate }}</h6>

<leaflet lf-center="center"  width="100%" height="480px" layers="layers" markers="markers"></leaflet>

<div ng-repeat="pin in ss.story.pins | orderBy: 'pin.pinOrder'" >
  <div ng-show="pin.activeChapter" class="chapterPreview card-panel">Chapter {{$index + 1}} |
    {{pin.locationName | uppercase }}.
    <p>
      {{pin.textContent}}
    </p>

    <button  ng-click="pin[$index].activeChapter = true">Next</button>
  </div>


</div>
