<!-- have to do story bc of the way object is structured  -->
<h3>{{ss.story.story.title}}</h3>
<h6>Created on {{ss.story.story.created_at | date: fullDate }}</h6>

<leaflet lf-center="origin || center"  width="100%" height="480px" layers="layers" markers="markers"></leaflet>

<!-- <div ng-repeat="pin in ss.story.pins | orderBy: 'pin.pinOrder'" > -->
  <div ng-show="ss.story.pins[ss.counter].activeChapter" class="chapterPreview card-panel">Chapter {{ss.counter}} |
    {{ss.story.pins[ss.counter].locationName | uppercase }}.
    <p>
      {{ss.story.pins[ss.counter].textContent}}
    </p>

    <button ng-show="ss.counter < ss.story.pins.length" id="next-chapter" ng-click="ss.showNextStory()">Next</button>
  </div>


<!-- </div> -->
