<!-- have to do story bc of the way object is structured  -->
<h3>{{ss.story.story.title}}</h3>
<h5 ng-if="ss.story.pins.length > 1">{{ss.story.pins.length}} chapters</h5>
<h5 ng-if="ss.story.pins.length === 1">Only one chapter in this story.</h5>
<h6>Created on {{ss.story.story.created_at | date: fullDate }}</h6>

<leaflet lf-center="origin || center"  width="100%" height="480px" layers="layers" markers="markers"></leaflet>

<!-- <div ng-repeat="pin in ss.story.pins | orderBy: 'pin.pinOrder'" > -->
  <div ng-show="ss.story.pins[ss.counter].activeChapter" class="chapterPreview card-panel">Chapter {{ss.counter + 1}} |
    {{ss.story.pins[ss.counter].locationName | uppercase }}.
    <p>
      {{ss.story.pins[ss.counter].textContent}}
    </p>

    <input type="button" value="Next" ng-show="ss.counter < ss.story.pins.length - 1" id="next-chapter" ng-click="ss.showNextStory()"></input>
    <input type="button" value="Restart the adventure" ng-show="ss.counter === ss.story.pins.length - 1" id="next-chapter" ng-click="ss.showNextStory()"></input>
  </div>


<!-- </div> -->
