/* MAIN */

html{
  margin: 0 auto!important;
  /*solves a weird bug with scrolling sometimes?*/
  /*height: 105vh;*/

  background-size: cover;

  min-height: 100%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7aa6e2+0,f6e0fc+92,f7f2de+100 */
  background: #7aa6e2; /* Old browsers */
  background: -moz-linear-gradient(top,  #7aa6e2 0%, #f6e0fc 92%, #f7f2de 100%) no-repeat; /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #7aa6e2 0%,#f6e0fc 92%,#f7f2de 100%) no-repeat; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #7aa6e2 0%,#f6e0fc 92%,#f7f2de 100%) no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aa6e2', endColorstr='#f7f2de',GradientType=0 ); /* IE6-9 */

  overflow: auto;
}

body{
  min-height: 100%;
}

footer{
  margin-top: 300px;
}

#logo{
  color: white;
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
}

.top-nav{
  margin-bottom: 40px!important;
}

#dropdown1 li a{
  color: #6a1b9a!important;
}

hr{
  border: 0.1px lightblue solid;
}

/* LANDING */

.landing-text{
  color: white;
  opacity: 1;
}

.landing-image img{
  /*margin: 4%;*/
  width: 100%;
}

.landing-container input{
  margin: 5px;
  width: 100%;
  height: 70px;
}

.landing-container{
  width: cover;
  position: relative;
}


/* CREATE STORY */

.chapterPreview{
  padding: 20px;
  /*float: right;*/
  width: 100%;
}

.cc-edit-delete-btns{
  float: right;
  padding-bottom: -20px;
}

.delete-btn:hover{
  color: red;
}

.delete-btn-home{
  padding-top: 5px;
  font-size: 30px;
  float: right;
}

.edit-btn:hover{
  color: teal;
}

.create-map{
  /*float: left;*/
}

/* your stories */

#create-story-form{
  padding-bottom: 30px;
}

#next-pin-btn{
  float:right;
}

#submit-story{
  margin-top: 10px;
  width: 100%;
}


.temp-image img{
  max-width: 100%;
}

.create-story-container{
  background: white;
  padding: 0px 30px 30px 30px;

}

.create-chapter-container{
  background: white;
  padding: 30px;
}

.map-overlay-div{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url("https://athomewithbethany.files.wordpress.com/2012/04/world-map-living-room.jpg");
    opacity: 0.2;
    border-radius: 10px;
    /*height: 600px;*/
    width: cover;
    position:absolute;
    top: 0; /* Add a top and bottom position so the element */
    bottom: 0; /* stretches to the height of the parent */


}


.your-story{
  margin-right: 10px;
}

/*------------FORMS AND PLACEHOLDER ----------*/
.form-group input{
  padding-left: 10px;
  background: rgba(250, 250, 250, 0.4);
}

::-webkit-input-placeholder {
   color: teal;
}

:-moz-placeholder { /* Firefox 18- */
   color: teal;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: teal;
}

:-ms-input-placeholder {
   color: teal;
}


/*--------------ABOUT PAGE------------------*/

.about-container{
  /*padding-bottom: 100px;*/
}

.about-image img{
  width: 100%;
}

.about-icons li{
  display: inline-block;
  padding: 2px;
  font-size: 45px;
}

.about-icons i{
  color: #2196f3;
}

.about-icons i:hover{
  color: #ab47bc;
}

.about-text{
  color: white;
}

.about-text a{
  color: #ab47bc;
}

.about-text a:hover{
  color: #2196f3;
}
