/* MAIN */

#logo{
  color: white;
  font-family: 'Fredericka the Great', cursive;
  font-size: 30px;
}

/* LANDING */


body{
  background: #d3d3d3;
  overflow: scroll;
}

/* CREATE STORY */

.chapterPreview{
  padding: 20px;
  margin: 20px;
  /*float: right;*/
}

.cc-edit-delete-btns{
  float: right;
  bottom: 20px;
}

.delete-btn:hover{
  color: red;
}

.delete-btn-home{
  float: right;
}

.edit-btn:hover{
  color: teal;
}

.create-map{
  /*float: left;*/
}

/* your stories */

.your-story{

}

.temp-image img{
  max-width: 100%;
}
